@{
    ViewData["Title"] = "Hozzáférés megtagadva";
}

<h2>Hozzáférés megtagadva</h2>
<p>Nincs jogosultságod az oldal megtekintéséhez.</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Vissza a főoldalra</a>