@model ClimbingApplication.Models.ChangePasswordView
@{

}

<h2>Jelszó módosító</h2>

<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label>A jelenlegi jelszó</label>
        <input asp-for="JelenlegiJelszo" type="password" class="form-control" />
        <span asp-validation-for="JelenlegiJelszo"></span>
    </div>
    <div class="form-group">
        <label>Új jelszó</label>
        <input asp-for="UjJelszo" type="password" class="form-control" />
        <span asp-validation-for="UjJelszo"></span>
    </div>
    <div class="form-group">
        <label>Új jelszó megint</label>
        <input asp-for="JelszoMegerosito" type="password" class="form-control" />
        <span asp-validation-for="JelszoMegerosito"></span>
    </div>
    <br />
    <button type="submit">Mentés</button>
</form>
