@model ClimbingApplication.Models.Utak

@{
    ViewData["Title"] = "Edit";
}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.0/fabric.min.js"></script>
</head>

<h1>Szerkesztés</h1>

<h4>Utak</h4>
<hr />
<div class="row">
    <div class="col-md-4">
    <div class="col-md-4">
        <form asp-action="Edit" id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input asp-for="kep" class="form-control" type="hidden"/>
                <span asp-validation-for="kep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nehezseg" class="control-label"></label>
                <input asp-for="nehezseg" class="form-control" />
                <span asp-validation-for="nehezseg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nev" class="control-label"></label>
                <input asp-for="nev" class="form-control" />
                <span asp-validation-for="nev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="leiras" class="control-label"></label>
                <textarea asp-for="leiras" class="form-control" ></textarea>
                <span asp-validation-for="leiras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="letrehozva" class="control-label"></label>
                <input asp-for="letrehozva" class="form-control" type="date"/>
                <span asp-validation-for="letrehozva" class="text-danger"></span>
            </div>
            <div class="form-group">
               <label>Falon van</label>
               <input class="form-control" value="@Model.Falonut?.nev" disabled />
            </div>
                <div class="form-group">
                    <label>Létrehozó</label>
                    <input class="form-control" value="@Model.UtLetrehozo?.felhasznaloNev" disabled />
                </div>
            <div class="form-group">
                <input type="submit" value="Mentés" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-controller="Utak" asp-action="Index" asp-route-falId="@ViewBag.FalId" class="btn btn-secondary">Vissza az utakhoz</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
