@model ClimbingApplication.Models.FalmaszoHelyek

@{
    ViewData["Title"] = "Edit";
}

<h1>Szerkesztés</h1>

<h4>FalmaszoHelyek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="orszag" class="control-label"></label>
                <input asp-for="orszag" class="form-control" />
                <span asp-validation-for="orszag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cim" class="control-label"></label>
                <input asp-for="cim" class="form-control" />
                <span asp-validation-for="cim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="honlap" class="control-label"></label>
                <input asp-for="honlap" class="form-control" />
                <span asp-validation-for="honlap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nev" class="control-label"></label>
                <input asp-for="nev" class="form-control" />
                <span asp-validation-for="nev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="leiras" class="control-label"></label>
                <textarea asp-for="leiras" class="form-control" ></textarea>
                <span asp-validation-for="leiras" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if(User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                <label asp-for="FelhasznalokID" class="control-label"></label>
                <select asp-for="FelhasznalokID" class="form-control" asp-items="ViewBag.FelhasznalokID"></select>
                <span asp-validation-for="FelhasznalokID" class="text-danger"></span>
                }
                
            </div>
            <div class="form-group">
                <input type="submit" value="Mentés" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Vissza a falmászóhelyekre</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
