@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Üdvözlet</h1>
    <p>Ez a weboldal a szakdolgozatomhoz készült apróbb hibák tökéletlenségek előfordulhatnak.</p>
    <p>A weboldal célja, hogy a falmászó helyek meg tudják osztani a falmaászókkal, hogy az adoot helyen milyen falak és a falakon milyen utak vannak. Ezzel segítve a mászókat, hogy az adott hely
        megfelelő-e a számára.
    </p>
    <p>
        A mászók is tudnak utakat létrehozni a meglévő utakon kívűl ezzel még sokszínűbbé tennia terem útkínálatát.
    </p>
    <p>
        Amennyiben a teremben van spraywall ott is tudnak saját utat megjeleníteni.
    </p>
    <p>
        Amennyiben a terem mérete nem teszi lehetővé, hogy az utakat rendszeresen cseréljék és cetlis redszerrel van jelölve nem azonos színú fogásokból all az út, akkor is egyértelműen lehssen látni az utakat.
        Ezen felül mindenki saját utat is tud létrehozni.
    </p>
    <h4>A weboldal használatához segítség</h4>
    <p>
        Ha nincs az adatbázisban a terem ahova falat/utat akrsz hozzáadni akkor először azt kell létrehozni.<br />

        Ezután ha még az adott fal aktuális állapotárol nincs semmi akkor azt kell létrehozni.<br />

        Ezután már létre lehet hozni az utat.<br />

        Figyel, hogy mindent a megfelelő helyen hozz létre.<br />

        
    </p>
</div>



