@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Üdvözlet</h1>
    <p>Ez a weboldal a szakdolgozatomhoz készült, apróbb hibák, tökéletlenségek előfordulhatnak.</p>
    <p>A weboldal célja, hogy a falmászó helyek meg tudják osztani a falmászókkal, hogy az adott helyen milyen falak és a falakon milyen utak vannak. Ezzel segítve a mászókat, hogy az adott hely
        megfelelő-e a számára.
    </p>
    <p>
        A mászók is tudnak utakat létrehozni a meglévő utakon kívül, ezzel még sokszínűbbé tenni a terem útkínálatát.
    </p>
    <p>
        Amennyiben a teremben van spraywall, ott is tudnak saját utat megjeleníteni.
    </p>
    <p>
        Amennyiben a terem mérete nem teszi lehetővé, hogy az utakat rendszeresen cseréljék, és cetlis rendszerrel van jelölve -nem azonos színű fogásokból áll az út-, akkor is egyértelműen lehessen látni az utakat.
        Ezen felül mindenki saját utat is tud létrehozni.
    </p>
    <h4>A weboldal használatához segítség</h4>
    <p>
        Ha nincs az adatbázisban a terem, ahova falat/utat akarsz hozzáadni, akkor először azt kell létrehozni.<br />

        Ezután ha még az adott fal aktuális állapotáról nincs semmi, akkor azt kell létrehozni.<br />

        Ezután már létre lehet hozni az utat.<br />

        Figyelj, hogy mindent a megfelelő helyen hozz létre.<br />

        
    </p>
</div>



