@model ClimbingApplication.Models.Felhasznalok

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Felhasznalok</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="vezetekNev" class="control-label"></label>
                <input asp-for="vezetekNev" class="form-control" />
                <span asp-validation-for="vezetekNev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="keresztNev" class="control-label"></label>
                <input asp-for="keresztNev" class="form-control" />
                <span asp-validation-for="keresztNev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" type="email"/>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jelszo" class="control-label"></label>
                <input asp-for="jelszo" class="form-control" type="password"/>
                <span asp-validation-for="jelszo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="szuletesiIdo" class="control-label"></label>
                <input asp-for="szuletesiIdo" class="form-control" type="date"/>
                <span asp-validation-for="szuletesiIdo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefonszam" class="control-label"></label>
                <input asp-for="telefonszam" class="form-control" />
                <span asp-validation-for="telefonszam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rang" class="control-label"></label>
                <input asp-for="rang" class="form-control" />
                <span asp-validation-for="rang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="felhasznaloNev" class="control-label"></label>
                <input asp-for="felhasznaloNev" class="form-control" />
                <span asp-validation-for="felhasznaloNev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
