@model ClimbingApplication.Models.Falak

@{
    ViewData["Title"] = "Edit";
}

<h1>Szerkesztés</h1>

<h4>Falak</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="nev" class="control-label"></label>
                <input asp-for="nev" class="form-control" />
                <span asp-validation-for="nev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="kep" class="form-control" type="hidden"/>
                <span asp-validation-for="kep" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="letrehozva" class="control-label"></label>
                <input asp-for="letrehozva" class="form-control" type="date"/>
                <span asp-validation-for="letrehozva" class="text-danger"></span>
            </div>
            <div class="form-group">
               <!-- <label asp-for="FalmaszohelyID" class="control-label"></label>-->
                <!--<select asp-for="FalmaszohelyID" class="form-control" asp-items="ViewBag.FalmaszohelyID"></select>-->
                <!--<span asp-validation-for="FalmaszohelyID" class="text-danger"></span>-->
                <label>Terem</label>
                <input class="form-control" value="@Model.Falhelye?.cim" disabled />
            </div>
            <div class="form-group">
                <label>Létrehozó</label>
                <input class="form-control" value="@Model.Letrehozo?.felhasznaloNev" disabled />
            </div>
            <div class="form-group">
                <input type="submit" value="Mentés" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-falmaszohelyId="@Model.FalmaszohelyID" class="btn btn-secondary">Vissza a falakhoz</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
