@model ClimbingApplication.Models.Valaszok

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Valaszok</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="valasz" class="control-label"></label>
                <input asp-for="valasz" class="form-control" />
                <span asp-validation-for="valasz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HozzaszolasID" class="control-label"></label>
                <select asp-for="HozzaszolasID" class="form-control" asp-items="ViewBag.HozzaszolasID"></select>
                <span asp-validation-for="HozzaszolasID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FelhasznaloID" class="control-label"></label>
                <select asp-for="FelhasznaloID" class="form-control" asp-items="ViewBag.FelhasznaloID"></select>
                <span asp-validation-for="FelhasznaloID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
